.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  padding: 8px 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("https://drive.google.com/uc?id=1HIAl_n9dto6E0dFu2eTpt-VLGI_LfQWI");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 152px 0 164px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-list-1 {
  width: 360px;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-repeater-1 {
  min-height: 360px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -29px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-2 {
  margin: -29px 0 2px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-3 {
  margin: -29px 0 2px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-4 {
  margin: -29px 0 2px auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-5 {
  margin: -29px 0 2px auto;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  color: rgb(0, 0, 0) !important;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-text-2 {
    width: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-text-2 {
    width: 73px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 63px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-text-2 {
    width: 59px;
  }

  .u-section-1 .u-list-1 {
    width: 320px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}